{% extends 'apps/index.html' %}
{% load static %}
{% block body_block%}
<html>
<link rel="stylesheet" href="{%static "css/style.css" %}">
<head>
	<h1 style="color: #3a41fc;text-align: center;">
		<b>OUR GALLERY</b>
	</h1>
</head>
<body>
	<img src="{static"/images/python.png" %}">
<img src="{static"/images/python.png" %}">
<img src="{static"/images/python.png" %}">
<img src="{static"/images/python.png" %}">
<img src="{static"/images/python.png" %}">
<img src="{static"/images/python.png" %}">
</body>
{%endblock%}
</html>