<!DOCTYPE html>
{% extends 'apps/index.html' %}
{%block body_block %}

<html>
<body style="background: red">
<main>
	<h1 style="color:red;font-size: xx-large;font-family: arial">HI EVERY FUCKING ONE</h1>
	<p style="color:blue;font-size: x-large;text-align: justify;">SYSTECH is a Leading Training Development and Placement company in Trichy.we are known for our practical approach towards training that enables students to gain real-time exposure to competitive technologies.</p>
<article>
	<h2 style="color:green;font-size:xx-large;font-family: arial">DJANGO WEB DEVELOPMENT COURSE</h2>
	<p style="color:blue;font-size:x-large;text-align: justify;"> Django is a web development course provided by systech Trichy. It is the best framework for developing a web application framework in Python Programming language.Django follows Model view Template(MVT) Arichitecture which is based on the model View Controller(MVC) Arichecture. The demand for Django remains is high at all times because of its fast development feature. It can be used to build any type of website and web application.</p>
</article>
</main>
</body>
{%endblock%}
</html>
